
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>犀视科技</title>
    <meta name="keywords" content="犀视,客流分析,客流系统,客流计数器,犀视科技">
    <meta property="og:title" content="犀视科技" >
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/stylesheets/animate.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="stylesheets/style-old-ie.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="loader">
      <div class="fading-line"></div>
    </div>
    <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">切换菜单</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="no-svg navbar-brand nav-external">上海犀视科技有限公司</a>
          </div>
          <div class="collapse navbar-collapse">
          	<ul class="nav navbar-nav navbar-right">
            	<li class="active"><a href="#home-container">首页</a></li>
              	<li><a href="#about">产品介绍</a></li>
            	<li><a href="#team">犀视团队</a></li>
            	<li><a href="#contact">联系我们</a></li>	
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="home-container">
    	<ul class="home">
    		<li class="home-item slide1 page">
    		  <div class="container">
    		    <div class="content cover text-center">
    		      <div class="row">
    		        <div class="col-lg-12">
    		          <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">客流统计</h1>
    		          <h3 class="animated hiding" data-animation="fadeIn" data-delay="600">客流统计主要用于分析通道口出入人数并基于统计数据生成商业智能报告。</h3>
    		          <a class="btn btn-gray nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="#product1">了解更多</a>    		              		          
    		        </div>
    		      </div>
    		    </div>
    		  </div>
    		</li>
    		<li class="home-item slide2 page">
    		  <div class="container">
    		    <div class="content cover text-center">
    		      <div class="row">
    		        <div class="col-lg-12">
    		          <h1 class="animated" data-animation="fadeInDown" data-delay="300">视频摘要</h1>
    		          <h3 class="animated" data-animation="fadeIn" data-delay="600">将用户上传的视频进行特定目标的提取以及重新融合。</h3>
    		          <a class="btn btn-gray nav-external animated" data-animation="fadeIn" data-delay="900" href="#product2">了解更多</a>    		          
    		        </div>
    		      </div>
    		    </div>
    		  </div>
    		</li>
    		<li class="home-item slide3 page">
    		  <div class="container">
    		    <div class="content cover text-center">
    		      <div class="row">
    		        <div class="col-lg-12">
    		          <h1 class="animated" data-animation="fadeInDown" data-delay="300">上影影厅观影人数统计</h1>
    		          <h3 class="animated" data-animation="fadeIn" data-delay="600">用户提供相关接口，结合客流统计进行的数据深度分析。</h3>
    		          <a class="btn btn-gray nav-external animated" data-animation="fadeIn" data-delay="900" href="#product3">了解更多</a>    		       
    		        </div>
    		      </div>
    		    </div>
    		  </div>
    		</li>
    		
    	</ul>
    </div>
    <section id="about" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>选择犀视</h2>
            <div class="border"></div>
          </div>
          <div class="row">
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
              <i class="fa fa-trophy fa-5x"></i>
              <h3><a href="#">雄厚的技术背景</a></h3>
              <p>犀视科技非常重视技术和产品的研发，拥有雄厚的软件、硬件、系统集成开发实力。公司自行研发的“城市消防物联网远程监控管理系统”、“内装修平台”、“移动执法终端”等相关产品都已取得软件著作权证书。</p>
            </div>
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
              <i class="fa fa-users fa-5x"></i>
              <h3><a href="#">优秀的研发团队</a></h3>
              <p>瑞眼科技汇集一批年轻、热情、执着、创新的高科技人才,为推动城市消防物联网的智能化努力打造出优秀的研发技术团队，致力于提供最全面、最保障的消防物联网方案，让城市更安全。</p>
            </div>
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
              <i class="fa fa-mobile fa-5x"></i>
              <h3><a href="#">丰富的应用场景</a></h3>
              <p>以物联网为基础，以保险为保障，打造消防商业运营模式；以内装修平台和移动执法终端为依托，打造消防业务闭环；以物联网平台为支持，推动消防、物业、维保单位的智能化。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="team" class="page">
    	<div class="container">
    		<div id="product1" class="content">
    			<div class="row">
    				<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
    					<img class="img-responsive" src="images/product1.png" alt="" />
    				</div>
    				<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
    					<h3><a href="#">消防物联网</a></h3>
    					<p>消防物联网是针对社会消防安全管理的实际需求，采用最新“物联网”概念，利用微信、APP、平台、短信，实现对所有消防设施运行信息和维保单位日常工作信息的实时获取，并且通过远程传输设备，将数据动态上传至“消防物联网”数据中心，在线实时生成单位消防安全等级评估。该技术可实现对社会单位消防设备、设施日常运行状况全面、动态的监督和管理。</p>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="bg1">
    		<div class="container">
    			<div id="product2" class="content">
    				<div class="row">
    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
    						<h3><a href="#">用户传输终端装置</a></h3>
    						<p>用户传输终端装置能够接收火灾自动报警系统、消防联动系统等多种建筑消防设施的报警信息和运行状态信息，通过专用路由系统将数据传输到“消防物联网”数据中心，对防火墙、攻击防范、流量进行监控，并且所有数据通讯均通过VPN加密。系统符合《城市消防远程监控系统-用户信息传输装置》国家标准，编号GB26875.1-2011，自2012年5月1日起实施。</p>
    					</div>
    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
    						<img class="img-responsive" src="images/product2.png" alt="" />
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="container">
    		<div id="product3" class="content">
    			<div class="row">
    				<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
    					<img class="img-responsive" src="images/product3.png" alt="" />
    				</div>
    				<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
    					<h3><a href="#">水系统采集柜</a></h3>
    					<p>水系统采集柜通过在水泵房新增信息采集柜、压力（流量）传感器及在水系统末端（消防、喷淋）新增压力传感器来获取水系统状态，并通过无线或有线的方式传至服务器，服务器分析数据异常会自动告警，用户也可以通过平台实时查看水系统数据。系统符合《消防给水及消火栓系统技术规范》国家标准，编号GB50974-2014，自2014年10月1日起实施。</p>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="bg1">
    		<div class="container">
    			<div id="product4" class="content">
    				<div class="row">
    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
    						<h3><a href="#">物联网手持终端</a></h3>
    						<p>物联网手持终端以智能化检测消防设施、自动采集检测数据为基础，利用物联网技术，实现消防设施总体情况汇总、异常情况报警、数据实时查看和维保公司工作情况考核，并在线生成规范检验报告，支持维保单位、检测机构、建设施工单位、质量监管部门和消防主管部门高层决策、中层控制、基层运作的集成化的人机系统。</p>
    					</div>
    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
    						<img class="img-responsive" src="images/product4.png" alt="" />
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="contact" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>合作伙伴</h2>
            <div class="border"></div>
            <p></p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="portfolio">
                <ul class="filters list-inline">
                  <li>
                    <a class="active" data-filter="*" href="#">全部</a>
                  </li>
                  <li>
                    <a data-filter=".business" href="#">商业及地产</a>
                  </li>
                  <li>
                    <a data-filter=".public" href="#">政府及教育</a>
                  </li>
                  <li>
                    <a data-filter=".ict" href="#">电器及__PUBLIC__/电子</a>
                  </li>
                </ul>
                <ul class="items list-unstyled clearfix animated hiding" data-animation="fadeInRight">
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/1.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/2.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/3.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/4.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/5.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/6.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/7.jpg" alt="">
                    </a>
                  </li>
                  <li class="item ict">
                    <a href="#">
                      <img src="images/work/8.jpg" alt="">
                    </a>
                  </li>
                  <li class="item ict">
                    <a href="#">
                      <img src="images/work/9.jpg" alt="">
                    </a>
                  </li>
                  <li class="item ict">
                    <a href="#">
                      <img src="images/work/10.jpg" alt="">
                    </a>
                  </li>
                  <li class="item public">
                    <a href="#">
                      <img src="images/work/11.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/12.jpg" alt="">
                    </a>
                  </li>
                  <li class="item public">
                    <a href="#">
                      <img src="images/work/13.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/14.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/15.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/16.jpg" alt="">
                    </a>
                  </li>
                  <li class="item public">
                    <a href="#">
                      <img src="images/work/17.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/18.jpg" alt="">
                    </a>
                  </li>
                  <li class="item business">
                    <a href="#">
                      <img src="images/work/19.jpg" alt="">
                    </a>
                  </li>
                  <li class="item public">
                    <a href="#">
                      <img src="images/work/20.jpg" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="about1" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>关于瑞眼</h2>
            <div class="border"></div>
            <p>上海瑞眼科技有限公司（RAYEYE）是一家新型高科技IT公司，注册资金1500万。专业从事消防物联网及其终端产品研发、销售及市场应用。2009年成立至今，积累了一系列物联网产品应用及核心算法，市场主要覆盖消防智能化设计、物联网现场接入、消防咨询服务等领域。瑞眼科技提倡积极、责任心、高效、简洁的企业文化，并且追求卓越、平等、协作。</p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact1" class="page">
      <div class="container">
        <div class="content cover text-center">
          <div class="heading">
            <h2>联系瑞眼</h2>
            <div class="border"></div>
            <p>以便我们能第一时间了解您的需求</p>
          </div>
          <div class="row">
            <div class="col-lg-4 animated hiding" data-animation="fadeInRight" data-delay="600">
              <i class="fa fa-map-marker fa-3x"></i>
              <a href="#">上海市杨浦区长阳路1687号长阳谷4号楼4301-4302</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInDown" data-delay="300">
              <i class="fa fa-phone fa-3x"></i>
              <a href="tel:400-920-5245">400-920-5245</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInLeft" data-delay="600">
              <i class="fa fa-envelope fa-3x"></i>
              <a href="mailto:marketing@rayeye.cn">marketing@rayeye.cn</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="copyright"> 
              &copy; 2014-2015 上海犀视科技有限公司 All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="__PUBLIC__/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/jquery.nav.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/jquery.appear.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/script.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/unslider.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/custom.js"></script>
</body>
</html>