
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>xitech</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="__PUBLIC__/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>  
		.menu {  
		    width:100%;
		
		    z-index:1;
		}  
		.menuFixed  {  
		    position:fixed;  
		    top:0;  
		    left:0;
		}  
		#menu_wrap  {  
		    height:50px;  
		    width:100%;  	
		}  		
	</style>  
  </head>

  <body data-spy="scroll" data-target="#navbar">
	<div class="container">
	    <div id='menu_wrap'>  
	        <div class='menu'>  
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container" data-toggle="collapse" data-target="#navbar">
	                	<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"> 
							 	<span class="sr-only">Toggle navigation</span>
							 	<span class="icon-bar"></span>
							 	<span class="icon-bar"></span>
							 	<span class="icon-bar"></span>
							</button> 
							<a class="navbar-brand" style="font-weight:bold">上海犀视科技有限公司</a>
						</div>					
						<div class="collapse navbar-collapse" id="navbar">
							<ul class="nav navbar-nav navbar-right">
	                        	<li id="dddd" class="item active"><a href="#home" >主页</a></li>
								<li><a href="#about">产品介绍</a></li>
					            <li><a href="#team">犀视团队</a></li>
					            <li><a href="#contact">联系我们</a></li>	
							</ul>						
						</div>
					</div>
				</nav>
	        </div>  
	    </div>
    </div>

     <div class="container theme-showcase" role="main">
      <div id="home">
	      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	        <ol class="carousel-indicators">
	          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	        </ol>
	        <div class="carousel-inner" role="listbox">
	          <div class="item active">
	            <img data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="First slide">
	          </div>
	          <div class="item">
	            <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide">
	          </div>
	          <div class="item">
	            <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide">
	          </div>
	        </div>
	        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	          <span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	          <span class="sr-only">Next</span>
	        </a>
	      </div>
		</div>
		<section id="about" class="page">
	      <div class="container">
	        <div class="content text-center">
	          <div class="heading">
	            <h2>选择瑞眼</h2>
	            <div class="border"></div>
	          </div>
	          <div class="row">
	            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
	              <i class="fa fa-trophy fa-5x"></i>
	              <h3><a href="#">雄厚的技术背景</a></h3>
	              <p>瑞眼科技非常重视技术和产品的研发，拥有雄厚的软件、硬件、系统集成开发实力。公司自行研发的“城市消防物联网远程监控管理系统”、“内装修平台”、“移动执法终端”等相关产品都已取得软件著作权证书。</p>
	            </div>
	            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
	              <i class="fa fa-users fa-5x"></i>
	              <h3><a href="#">优秀的研发团队</a></h3>
	              <p>瑞眼科技汇集一批年轻、热情、执着、创新的高科技人才,为推动城市消防物联网的智能化努力打造出优秀的研发技术团队，致力于提供最全面、最保障的消防物联网方案，让城市更安全。</p>
	            </div>
	            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
	              <i class="fa fa-mobile fa-5x"></i>
	              <h3><a href="#">丰富的应用场景</a></h3>
	              <p>以物联网为基础，以保险为保障，打造消防商业运营模式；以内装修平台和移动执法终端为依托，打造消防业务闭环；以物联网平台为支持，推动消防、物业、维保单位的智能化。</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	    <section id="team" class="page">
	    	<div class="container">
	    		<div id="product1" class="content">
	    			<div class="row">
	    				<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<img class="img-responsive" src="images/product1.png" alt="" />
	    				</div>
	    				<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<h3><a href="#">消防物联网</a></h3>
	    					<p>消防物联网是针对社会消防安全管理的实际需求，采用最新“物联网”概念，利用微信、APP、平台、短信，实现对所有消防设施运行信息和维保单位日常工作信息的实时获取，并且通过远程传输设备，将数据动态上传至“消防物联网”数据中心，在线实时生成单位消防安全等级评估。该技术可实现对社会单位消防设备、设施日常运行状况全面、动态的监督和管理。</p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="bg1">
	    		<div class="container">
	    			<div id="product2" class="content">
	    				<div class="row">
	    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<h3><a href="#">用户传输终端装置</a></h3>
	    						<p>用户传输终端装置能够接收火灾自动报警系统、消防联动系统等多种建筑消防设施的报警信息和运行状态信息，通过专用路由系统将数据传输到“消防物联网”数据中心，对防火墙、攻击防范、流量进行监控，并且所有数据通讯均通过VPN加密。系统符合《城市消防远程监控系统-用户信息传输装置》国家标准，编号GB26875.1-2011，自2012年5月1日起实施。</p>
	    					</div>
	    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<img class="img-responsive" src="images/product2.png" alt="" />
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="container">
	    		<div id="product3" class="content">
	    			<div class="row">
	    				<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<img class="img-responsive" src="images/product3.png" alt="" />
	    				</div>
	    				<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<h3><a href="#">水系统采集柜</a></h3>
	    					<p>水系统采集柜通过在水泵房新增信息采集柜、压力（流量）传感器及在水系统末端（消防、喷淋）新增压力传感器来获取水系统状态，并通过无线或有线的方式传至服务器，服务器分析数据异常会自动告警，用户也可以通过平台实时查看水系统数据。系统符合《消防给水及消火栓系统技术规范》国家标准，编号GB50974-2014，自2014年10月1日起实施。</p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="bg1">
	    		<div class="container">
	    			<div id="product4" class="content">
	    				<div class="row">
	    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<h3><a href="#">物联网手持终端</a></h3>
	    						<p>物联网手持终端以智能化检测消防设施、自动采集检测数据为基础，利用物联网技术，实现消防设施总体情况汇总、异常情况报警、数据实时查看和维保公司工作情况考核，并在线生成规范检验报告，支持维保单位、检测机构、建设施工单位、质量监管部门和消防主管部门高层决策、中层控制、基层运作的集成化的人机系统。</p>
	    					</div>
	    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<img class="img-responsive" src="images/product4.png" alt="" />
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
		

    </div> <!-- /container -->
	<div style="padding-bottom:10px; padding-top:10px" id="contact">
			<div class="bg1">
	    		<div class="container">
	    			<div id="product2" class="content">
	    				<div class="row">
	    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<h3><a href="#">用户传输终端装置</a></h3>
	    						<p>用户传输终端装置能够接收火灾自动报警系统、消防联动系统等多种建筑消防设施的报警信息和运行状态信息，通过专用路由系统将数据传输到“消防物联网”数据中心，对防火墙、攻击防范、流量进行监控，并且所有数据通讯均通过VPN加密。系统符合《城市消防远程监控系统-用户信息传输装置》国家标准，编号GB26875.1-2011，自2012年5月1日起实施。</p>
	    					</div>
	    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<img class="img-responsive" src="images/product2.png" alt="" />
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="bg1">
	    		<div class="container">
	    			<div id="product2" class="content">
	    				<div class="row">
	    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<h3><a href="#">用户传输终端装置</a></h3>
	    						<p>用户传输终端装置能够接收火灾自动报警系统、消防联动系统等多种建筑消防设施的报警信息和运行状态信息，通过专用路由系统将数据传输到“消防物联网”数据中心，对防火墙、攻击防范、流量进行监控，并且所有数据通讯均通过VPN加密。系统符合《城市消防远程监控系统-用户信息传输装置》国家标准，编号GB26875.1-2011，自2012年5月1日起实施。</p>
	    					</div>
	    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<img class="img-responsive" src="images/product2.png" alt="" />
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div><div class="bg1">
	    		<div class="container">
	    			<div id="product2" class="content">
	    				<div class="row">
	    					<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<h3><a href="#">用户传输终端装置</a></h3>
	    						<p>用户传输终端装置能够接收火灾自动报警系统、消防联动系统等多种建筑消防设施的报警信息和运行状态信息，通过专用路由系统将数据传输到“消防物联网”数据中心，对防火墙、攻击防范、流量进行监控，并且所有数据通讯均通过VPN加密。系统符合《城市消防远程监控系统-用户信息传输装置》国家标准，编号GB26875.1-2011，自2012年5月1日起实施。</p>
	    					</div>
	    					<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    						<img class="img-responsive" src="images/product2.png" alt="" />
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="container">
	    		<div id="product3" class="content">
	    			<div class="row">
	    				<div class="col-lg-8 product animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<img class="img-responsive" src="images/product3.png" alt="" />
	    				</div>
	    				<div class="col-lg-4 product product-text animated hiding" data-animation="fadeInUp" data-delay="300">
	    					<h3><a href="#">水系统采集柜</a></h3>
	    					<p>水系统采集柜通过在水泵房新增信息采集柜、压力（流量）传感器及在水系统末端（消防、喷淋）新增压力传感器来获取水系统状态，并通过无线或有线的方式传至服务器，服务器分析数据异常会自动告警，用户也可以通过平台实时查看水系统数据。系统符合《消防给水及消火栓系统技术规范》国家标准，编号GB50974-2014，自2014年10月1日起实施。</p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	<div>

	   
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/jquery/1.11.3/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    
        $(window).scroll(function () {
            var menu_top = $('#menu_wrap').offset().top;
            if ($(window).scrollTop() >= menu_top) {
                $('.menu').addClass('menuFixed')
                //$('#dddd').addClass('active')
            }
            else {
                $('.menu').removeClass('menuFixed')
                //$('#dddd').addClass('active')
            }
			if ($(window).scrollTop() <= 4)	
				$('#dddd').addClass('active')	
        });  
        $('body').scrollspy({ target: '#navbar' })
    </script>  
  </body>
</html>
